.Features{
    padding-top: 100px;
}
.Titles{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.Titles > h3{
    color: #00696d;
    margin-bottom: 20px;
}
.Titles > h2{
    font-weight: 600;
    font-size: 25px;
}

.F_cardcontainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Each_card{
    width: 480px;
    height: 200px;
    margin-bottom: 50px;
    background-color: #ffe7e0;
    padding: 50px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.Each_card .upper_part{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.Each_card .upper_part::before{
    content: "";
    position: absolute;
    background-color: #fcc0ae;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
}
.Each_card .upper_part::after{
    content: "";
    position: absolute;
    background-color: #fe8f6e;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
}
.Each_card .upper_part i{
    font-size: 35px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: orange;
}
.Each_card .upper_part h4{
    margin-bottom: 5px;
    font-weight: 600;
    color: #00696d;
}

/*-----------IPAD 12 PRO------------*/
@media (max-width: 1030px){
    .Each_card{
        width: 400px;
    }
}

/*-----------IPAD 11 PRO------------*/
@media (max-width: 840px){
    .F_cardcontainer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Features{
        padding-top: 50px;
    }
}

/*----------IPHONE 13 and 14 and 16 PRO MAX--------*/
@media (max-width: 442px){
    .F_cardcontainer{
        margin-top: 30px;
    }
    .Titles{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .Titles > h3{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .Each_card{
        padding-top: 30px;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.192);
    }
}

/*--------IPHONE 6,7,8 PLUS------*/
@media (max-width: 416px) and (max-height: 740px){
    .Titles > h3{
        margin-bottom: 10px;
    }
}
/*-----------IPHONE 13 PLUS------*/
@media (max-width: 400px){
    .Each_card{
        width: 350px;
    }
    .Titles > h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .Titles > h2{
            font-size: 24px;
    }
}

/*----IPHONE 11 PRO, X AND OTHERS------*/
@media (max-width: 380px){
    .Titles > h2{
        font-size: 23px;
    }
}


/*---------SAMSUNG S10 and S10 PLUS-------*/
@media (max-width: 370px) and (max-height: 780px){
    .Titles > h3{
        font-size: 19px;
        margin-bottom: 10px;
    }
    .Titles > h2{
            font-size: 22px;
    }
}


/*-------SAMSUNG S9 PLUS--------*/
@media (max-width: 365px){
    .Each_card{
        width: 340px;
    }
}

