.VolunteerBanner{
    background-color: #2f4159;
    padding: 50px 0;
}

.Volunteer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Small-heading{
    font-size: 16px;
    color: orange;
    margin-bottom: 0;
    
}
.Big-heading{
    margin-top: 0;
    font-size: 40px;
    color: white;
}
.Volunteer_Details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Volunteer_Details input{
    color: white;
    border: 2px solid #4b5d75;
    padding: 15px 20px;
    background-color: #2f4159;
    border-radius: 50px;
    box-shadow: 0 0 8px #0000004f;
    margin-right: 20px;
}
.Volunteer_Details input::placeholder{
    color: #e2e4e7;
}

.V_JoinUs{
    font-size: 20px;
    padding: 10px 50px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 50px;
    transition: all 0.1s ease;
    text-align: center;
    color: black;
    
}
.V_JoinUs:hover{
    background-color: #2f4159;
    color: white;
    text-decoration: none;
}

/*--------IPAD 12 PRO------*/
@media (max-width: 1030px){
    .Volunteer_content{
        justify-content: space-between;
        gap: 0px;
    }

    .V_Headings{
        width: 200px;
        margin-right: 10px;
    }

    .V_JoinUs{
        margin-right: 40px;
        font-size: 20px;
        padding: 10px 50px;
    }
    
}

/*------IPAD 11 PRO--------*/
@media (max-width: 840px){
    .Volunteer_content{
        flex-direction: column;
    }
    .V_Headings{
        width: 100%;
        margin-right: 0;
    }
    .Volunteer_Details input{
        padding: 10px 20px;
    }
    .V_JoinUs{
        margin-right: 40px;
        font-size: 16px;
        padding: 10px 40px;
    }
}

/*-------IPHON 13 and 14 and 16 PRO MAX--------*/
@media (max-width: 442px){
    
    .Volunteer_Details{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .Volunteer_Details input{
        margin-right: 0px;
        margin-bottom: 10px;
        padding-right: 150px;
    }
}

/*----------IPHONE 13 PLUS-------*/
@media (max-width: 400px){
    .Big-heading{
        font-size: 35px;
    }
    .Volunteer_Details input{
        padding-right: 110px;
    }
}

/*-------SAMSUNG S9 PLUS--------*/
@media (max-width: 340px){
    .Big-heading{
        font-size: 31px;
    }
    .Volunteer_Details input{
        padding-right: 80px;
    }
}